@-webkit-keyframes home-page-title {
  from {
    content: "Kocham Pana Pantaka!";
  }
  20% {
    content: "Search for something.";
  }
  40% {
    content: "Come on don't be afraid!";
  }
  60% {
    content: "The world isn't for cowards.";
  }
  80% {
    content: "For the worthy!";
  }
  100% {
    content: "Kocham Pana Pantaka!";
  }
}
@keyframes home-page-title {
  from {
    content: "Kocham Pana Pantaka!";
  }
  20% {
    content: "Search for something.";
  }
  40% {
    content: "Come on don't be afraid!";
  }
  60% {
    content: "The world isn't for cowards.";
  }
  80% {
    content: "For the worthy!";
  }
  100% {
    content: "Kocham Pana Pantaka!";
  }
}
@-webkit-keyframes visibility-home {
  from, 40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes visibility-home {
  from, 40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
.home-picture, .random-background-theme {
  height: max(40vw, 300px);
  width: 100%;
  background-image: url("../assets/images/home.webP");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.random-background-theme {
  background-image: none;
  transition: background-color 1s ease-in-out;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}

.search-title {
  font-size: 3rem;
  color: white;
  margin: 2rem;
  text-align: center;
  position: absolute;
  flex-grow: 1;
}
.search-title::after {
  content: "";
  -webkit-animation: home-page-title 25s ease-in-out infinite forwards, visibility-home 5s ease-in-out infinite forwards;
          animation: home-page-title 25s ease-in-out infinite forwards, visibility-home 5s ease-in-out infinite forwards;
}