.home-picture, .random-background-theme {
  height: max(40vw, 300px);
  width: 100%;
  background-image: url("../assets/images/home.webP");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.random-background-theme {
  background-image: none;
  transition: background-color 1s ease-in-out;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
}