.navbar {
  transition: 0.3s ease-in-out;
}
.navbar :-webkit-any-link {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  color: gray !important;
}
.navbar :-moz-any-link {
  text-decoration: dotted;
  color: gray !important;
}
.navbar :any-link {
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  color: gray !important;
}

.dropdown-item:active {
  background-color: gray !important;
}