.navbar {
  transition: 0.3s ease-in-out;
}
.navbar :-webkit-any-link {
  text-decoration: none;
  color: black !important;
}
.navbar :-moz-any-link {
  text-decoration: none;
  color: black !important;
}
.navbar :any-link {
  text-decoration: none;
  color: black !important;
}