@import "./variables.scss";
#blank{
    background-image: url('../assets/images/home.webP');
    background-color: black;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;

}
#home{
    height: 100vh;
    width: 100%;
}