@import "./variables.scss";

.home-picture {
    height: max(40vw, 300px);
    width: 100%;
    background-image: url("../assets/images/home.webP");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: filter 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &.scrolled{
        transition: filter 0.3s ease-in-out; 
        filter: blur(3px);
    }
}
.random-background-theme {
    @extend .home-picture;
    background-image: none;
    transition: background-color 1s ease-in-out;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
}
